---
layout: default
title: Impossible list
class: impossible
---
<div class="wrapper impossible">
  <div class="sidebar left"></div>
  <div class="impossible content">

    <h1>The <span class="crossed" id="impossible-start">Impossible</span> List</h1>
    <div class="impossible-description">
      <div class="sidebar left"></div>
      <p>
        It's a bit like a bucket list, but not quite.
        I got inspired to create my own list by Thomas Frank from <a href="https://collegeinfogeek.com" class="special-link">College Info Geek</a>.
        The Person to originally come up with the concept though is Joel Runyon.
        He has a nice article explaining <a href="https://impossiblehq.com/the-impossible-list-is-not-a-bucket-list/" class="special-link">the difference</a> between a bucket list and The Impossible List.
      </p>
      <h2>It basically works like this:</h2>
      <ul>
        <li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked"></input>You set actually achievable and big goals, usually in categories</li>
        <li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked"></input>As you achieve them, you tick them off</li>
        <li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked"></input>then they <b>evolve</b>, meaning:<br>
          You set a new goal expanding on the achieved one.</li>
      </ul>
      <div class="sidebar right"></div>
    </div>

    <div class="impossible-section">
      <p><br></p>
      <h1>Here is my list:</h1>
      <h2>Current Focus</h2>
      <ul class="fa-ul">
        {% for section in site.data.impossible_list.sections %}
          {% for item in section.list_items %}
            {% if item.working_on %}
            <li class="impossible-item">
              <span class="fa-li">
                <i class="far fa-square fa-sm"></i>
              </span>{{ item.name }}
            </li>
            {% endif %}
            {% if item.sequel %}
              {% for next_item in item.list_next %}
                {% if next_item.working_on %}
                <li class="impossible-item">
                  <span class="fa-li">
                    <i class="far fa-square fa-sm"></i>
                  </span>{% if item.subcategory %}{{ item.name }}: {% endif %}{{ next_item.name }}
                </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

    {% for section in site.data.impossible_list.sections %}
    <div class="impossible-section {{ section.title }}">
      <h2 class="impossible-title">{{ section.title }}</h2>

      <ul class="fa-ul {{ section.title }}">
        {% for item in section.list_items %}
        <li class="impossible-item {{ item.completed }}">
          <span class="fa-li">
            {% if item.completed %}
            <i class="fas fa-check-square fa-sm"></i>
            {% else %}
            <i class="far fa-square fa-sm"></i>
            {% endif %}
          </span>{{ item.name }}
          {% if item.link != None %}
          <a href="{{ item.link }}" class="special-link">
          {% endif %}
            {% if item.completed %}[{{ item.completion_date | date: "%b %d , %Y" }}]
            {% endif%}
          {% if item.link != None %}
          </a>
          {% endif %}
        </li>
        {% if item.sequel %}
        <ul class="fa-ul">
          {% for next_item in item.list_next %}
          <li class="impossible-item {{ next_item.completed }}">
            <span class="fa-li">
              {% if next_item.completed %}
              <i class="fas fa-check-square fa-sm"></i>
              {% else %}
              <i class="far fa-square fa-sm"></i>
              {% endif %}
            </span>{{ next_item.name }}
            {% if item.link != None %}
            <a href="{{ item.link }}" class="special-link">
            {% endif %}
              {% if item.completed %}[{{ item.completion_date | date: "%b %d , %Y" }}]
              {% endif%}
            {% if item.link != None %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
      </ul>

    </div>
    {% endfor %}
  </div>
  <div class="sidebar right"></div>
  <div class="goUp">
    <a href="#impossible-start"><i class="fas fa-chevron-circle-up fa-2x"></i></a>
  </div>
</div>
