---
layout: default
title: Privacy Policy
class: privacy
last-updated: 2020-12-02
---
<div class="wrapper privacy">
  <div class="sidebar left"></div>
  <div class="privacy content">
    <h1>Privacy Notice</h1>
    <p class="last-updated">Last updated {{ page.last-updated | date: "%B %d, %Y" }}</p>
    <div class="privacy introduction">
      {% for item in site.data.privacyNotice.intro %}
        {% for i in (0..item.part-count) %}
          <p>{{ item.parts[i].text }}</p>
        {% endfor %}

      {% endfor %}
    </div>
    <div class="privacy mainbody">
      <div class="privacy toc">
        <h2>Table of contents</h2>
        <ol class="privacy toc">
          {% for section in site.data.privacyNotice.sections %}
            <li class="link"><a href="#{{ section.id }}">{{ section.title }}</a></li>
          {% endfor %}
        </ol>
      </div>
      {% for section in site.data.privacyNotice.sections %}
        <h2 id="{{ section.id }}">{{ section.title }}</h2>
        {% if section.short != "None" %}
          <p class="privacy short"><span class="bold">In short:</span>
            {{ section.short }}
          </p>
        {% endif %}
        {% for paragraph in section.paragraphs %}
          {% if paragraph.type == "text" %}
            <p>
              {{ paragraph.content }}
            </p>
          {% else if paragraph.type == "list" %}
            <p>{{ paragraph.heading }}:</p>
            <ul>
              {% for item in paragraph.items %}
                <li>
                  <p>
                    <span class="bold">{{ item.name }}:</span><br>
                    {{ item.text }}
                  </p>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="sidebar right"></div>
</div>
