<div id="cookie-notice" class="content cookie-notice">
  <p>
    We would like to use third party cookies and scripts to improve the experience and functionality of this website in the future.
  </p>
  <div class="cookie-notice buttons">
    <a href="javascript:;" id="cookie-notice-accept" class="btn btn-primary btn-sm">Approve</a>
    <a href="/privacy-policy" class="btn btn-primary btn-sm">More info</a>
    <a href="javascript:;" id="cookie-notice-dismiss" class="btn btn-primary btn-sm">Dismiss</a>
  </div>
</div>
