<footer>
  <div class="sitemap">

      <div class="logo">
        <a href="/">
        {% include icons/name_logo.html %}
        </a>
        <p class="copyright">
          All content copyright {{ "now" | date: "%Y" }}
        </p>
      </div>

    <div class="sitemapLinks">
      {% for section in site.data.foot_about.sections %}
      <div class={{ section.title }}>
        <ul>

          <p>{{ section.title }}</p>
          {% for item in section.map_items %}
          <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
          {% endfor %}

        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</footer>
