h1
  font: 30px Oxygen Mono, monospace
h2
  font: 20px Merriweather, serif
  font-weight: bold
a
  font: 20px Lato, sans-serif
  max-width: 600px
p
  font: 20px Lato, sans-serif
  font-weight: 400
  max-width: 600px
.ticker
  letter-spacing: 0.08em
  font-weight: 700

.wrapper
  display: grid
  grid-template-columns: auto 300px 300px auto
  grid-template-rows: 100px auto auto
  gap: 10px
  grid-template-areas: "header header header header" ". content content ." "footer footer footer footer"



  .main_nav
    grid-area: header

  footer
    grid-area: footer
