*
  margin: 0
  padding: 0
  box-sizing: border-box

h1
  font: 30px Oxygen Mono, monospace
h2
  font: 20px Merriweather, serif
  font-weight: bold
a
  text-decoration: none
  font: 20px Lato, sans-serif
  max-width: 600px
  color: #333
a:visited
  text-decoration: none
  color: #333
p
  font: 20px Lato, sans-serif
  font-weight: 400
  max-width: 600px
p
.ticker
  letter-spacing: 0.08em
  font-weight: 700
// @media (min-width: 700px)
//   p
//     max-width: 1200px
.wrapper
  display: grid
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr
  grid-template-rows: 100px auto auto
  gap: 10px
  grid-template-areas: "header header header header" ". content content ." "footer footer footer footer"



.main_nav
  position: fixed
  top: 0px
  width: 100vw
  height: 80px
  z-index: 2
  background-color: #aaa
  box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.2)

  .logo
    padding: 15px 15px 15px 2vw
    grid-column: 1 / 2
    svg
      height: 50px
      width: auto

.nav-img
  // content: ""
  // position: fixed
  width: 40vw
  height: 100vh
  opacity: 0.5
.nav-slide
  display: flex
  position: fixed
  top: 0
  background-color: #999
  height: 100vh
  width: 100%
  padding-top: 80px
  clip-path: inset(80px 0 0 100%)
  -webkit-clip-path: inset(80px 0 0 100%)
  transition: all 1s ease-out
.nav-slide.open
  clip-path: inset(80px 0 0 0)
  -webkit-clip-path: inset(80px 0 0 0)
.nav-links
  display: flex
  list-style: none
  justify-content: space-around
  align-items: flex-start
  padding-left: 10vw
  // position: fixed
  // top: 0
  // background-color: #999
  // height: 100vh
  // width: 100%
  // padding-top: 80px
  flex-direction: column
  // clip-path: inset(80px 0 0 100%)
  // -webkit-clip-path: inset(80px 0 0 100%)
  // transition: all 1s ease-out
  pointer-events: none
.nav-links.open
  // clip-path: inset(80px 0 0 0)
  // -webkit-clip-path: inset(80px 0 0 0)
  pointer-events: all

  a.current
    position: relative
  a.current::before
    content: ""
    // color: black
    // width: 30px
    border-style: solid
    border-width: 8px 0px 8px 13px
    border-color: transparent transparent transparent #333
    position: absolute
    left: -18px
    top: 6px
  li:hover
    color: #555



.line
  width: 40px
  height: 5px
  background: white
  margin: 8px
  border-radius: 5px
  transition: all 0.5s ease-out


.line.three.open
  display: none

.line.one.open
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)
  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',  M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104)
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104,sizingMethod='auto expand')"
  zoom: 1
  margin-top: 28px

.line.two.open
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  -webkit-transform: rotate(-45deg)
  -ms-transform: rotate(-45deg)
  transform: rotate(-45deg)
  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',  M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104)
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104,sizingMethod='auto expand')"
  zoom: 1
  margin-top: -13px

// nav
//   position: relative

.hamburger
  position: absolute
  cursor: pointer
  right: 45px
  top: 50%
  transform: translate(-5%, -50%)
  z-index: 2
.hamburger.open
  height: 63px

// body
//   margin: -10px -10px -10px -10px
