// ================================================================================================================
// MAIN CONTENT
// ================================================================================================================

.wrapper.blog
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: minmax(80px, auto) repeat(2, auto)
  grid-template-areas: "feat" "post" "up"

.post-meta
  color: #444
  a
    color: inherit
.article_title
  text-align: center
.last-updated
  font-size: 16px
.blog_article,
.blog_home
  h1,
  h2,
  h3,
  h4,
  a,
  p,
  br,
  ol,
  ul,
  li,
  code,
  span,
  div[class^="language"], div[class*=" language"],
  div[class*="highlight"],
  div.article-list,
  div.social-share
    grid-column: 2 / 3

  h1
    font: $h1_blog

  h2
    font: $h2_blog
    font-weight: bold
  h3
    font: bold $h3_blog

  a
    font: $font_blog

  p
    font: $font_blog
    line-height: 1.5em
    padding-bottom: 1em
  li
    font: $font_blog

  br
    display: block
    content: ""
    margin-top: 0.5em

  .sidebar.left
    grid-column: 1 / 2
  .sidebar.right
    grid-column: 3 / 4
  .sidebar
    grid-row: 1 / -1
    width: auto

  grid-area: post
  background: white
  padding-top: 4vh

  display: grid
  grid-template-columns: minmax(15px, auto) minmax(10px, 650px) minmax(15px, auto)
  grid-template-rows: auto

.blog_article
  ul
    li
      list-style: disc
  li.task-list-item
    list-style: none
    margin-left: 2%

// ================================================================================================================
// GALLERY
// ================================================================================================================

.post-gallery
  grid-column: 1 / 4
  justify-self: center
  padding: 0.5em 0 1.5em 0
  //following width adjusts the width of the gallery on the page. should probably be given with the photos or so
  max-width: 90vw
.gallery
  padding-bottom: 10px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  grid-gap: 10px
  img
    width: 100%
.gallery
  .stacked
    display: grid
    grid-template-rows: repeat(autofit, minmax(300px, 1fr))
    grid-gap: 10px
.gallery
  .left-portrait,
  .right-portrait
    display: grid
    grid-template-rows: minmax(300px, 1fr)

.gallery
  .portrait
    img
      height: 100%
      object-fit: cover
.gallery.landscape
  img
    max-height: 50vh
    object-fit: cover

// ================================================================================================================
// CODE FIELDS
// ================================================================================================================

div[class^="language"]
  margin: 1em 0
  .highlight
    padding: 0.5em
  //background: rgba(20, 20, 20, 0.10)
  border-radius: 8px
  overflow: auto

code
  font: $font_code
  background: $code_bg
  color: $code_text_col
  padding-top: 0.05rem
  padding-right: 0.3rem
  padding-bottom: 0.1rem
  padding-left: 0.2rem
  border-radius: 0.2rem
  overflow-wrap: break-word
  word-wrap: break-word

.abstract
  border-style: solid
  border-width: 0px 0px 0px 7px
  border-radius: 3px
  border-color: $accent_col_rgba
  padding-left: 15px
  margin-left: calc(calc(100vw - 650px) * -0.05)
  margin-bottom: 2.5em
  margin-top: 1em

p.abstract
  padding-bottom: 0
  font: $p_base
  font-weight: bold
  line-height: 1.5


// ================================================================================================================
// ================================================================================================================
// ARTICLE LIST
// ================================================================================================================

.article-card
  border-radius: 8px
  height: 250px
  //padding: 4% 18px 0px 18px
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3)
  //padding: 4% 20px 0 20px
  margin-bottom: 20px
  cursor: pointer
  transition: all 0.2s ease-in
  p
    font: $font_card
    line-height: 1.5em

.article-card.card-with-img
  padding: 0px
.article-card.card-no-img
  padding: 4% calc(18px + 2%) 0px calc(18px + 2%)

.card-title
  display: inline-block
  background: $accent_col_rgb
  color: $code_text_col
  font: $font_card_header
  font-weight: bold
  height: 32px
  padding: 0px 20px 0px 18px
  margin-left: -11px
  clip-path: polygon(96% 26px, 98% 13px, 96% 0px, 0px 0px, 10px 13px, 0px 26px)
.card-date
  display: inline-block
  color: $code_text_col
  background: $code_bg
  font: $font_card_header
  height: 32px
  padding: 0px 20px 0px 18px
  margin-left: 5px
  clip-path: polygon(94% 26px, 100% 13px, 94% 0px, 0px 0px, 0px 13px, 0px 26px)

.card-excerpt
  // height: 8em
  padding: 0.6em 0 0 0
  overflow: hidden
  display: inline-block
  height: 77%

.excerpt-overlay
  border-radius: 8px
  //padding: 4% 20px
  // padding: 4% 18px 4% 18px
  padding: 4% calc(18px + 2%) 0px calc(18px + 2%)
  height: inherit
  background: rgba(200, 180, 200, 0.0)
  transition: background 0.5s ease-in-out

.card-excerpt.hidden
  visibility: hidden
  opacity: 0
  transition: visibility 0s, opacity 0.5s ease-in-out

.article-card:hover
  transform: scale(1.05)
  transition: all 0.2s ease-in-out
  p
    font: $font_card_hover
    line-height: 1.5em

.article-card.card-with-img:hover
  // add .no-backdrop if backdrop starts working
  .excerpt-overlay
    background: rgba(200, 180, 200, 0.75)
  .excerpt-overlay.backdrop
    background: rgba(200, 180, 200, 0.6)
    backdrop-filter: blur(1px)

  .card-excerpt.hidden
    display: inline-block
    visibility: visible
    opacity: 1

// ================================================================================================================
// ================================================================================================================
// FEATURED IMAGE
// ================================================================================================================

.feat-img
  grid-area: feat
  position: fixed
  z-index: -1
  height: 400px
  width: 100vw
  overflow: hidden

.feat-img-spacer
  grid-area: feat
  height: 400px

// ================================================================================================================
// ================================================================================================================
// BACK TO TOP
// ================================================================================================================

.goUp
  grid-area: up
  padding: 8vh 0vh 3vh 0vh
  width: 100%
  background: white
  display: flex
  justify-content: center
  i
    color: $accent_col_rgb
  i:hover
    transform: scale(1.2)

// ================================================================================================================
// ================================================================================================================
// CHECK BOXES
// ================================================================================================================

  /* Step 1: Common Properties: All required to make icons render reliably */
.task-list-item
  input[type="checkbox"]
    all: unset
  input[type="checkbox"]::before
    display: inline-block
    font-style: normal
    font-variant: normal
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    margin-right: 0.4em
    color: $accent_col_rgb


  /* Step 2: Reference Individual Icons */
  input[type="checkbox"]:checked::before
    font-family: "Font Awesome 5 Free"
    font-weight: 900
    content: "\f14a"
  input[type="checkbox"]:not(:checked)::before
    font-family: "Font Awesome 5 Free"
    font-weight: 400
    content: "\f0c8"

// ================================================================================================================
// ================================================================================================================
// SOCIAL SHARE LINKS
// ================================================================================================================

.social-share
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 14px
  margin-top: -1em
.social-share.show
  background: #ddd
  border-radius: 8px
  //padding-top: 14px
  margin-bottom: 1em
  box-shadow: inset 0px 0px 5px 3px #ccc
.share-expand
  padding: 10px
  margin-bottom: 4%
  border-radius: 8px
  background: #ccc
  color: #444
  // box-shadow: 0px 0px 5px 1px rgba(10, 10, 10, 0.4)
.share-expand.show
  color: #666
  background: #ddd
.share-links
  display: none
.share-links.show
  li
    all: unset
  display: flex
  justify-content: space-around
  width: 100%
  padding: calc(10px * calc(4% / 100))



  .fa-linkedin
    color: #2867B2
  .fa-facebook
    color: #4267B2
  .fa-twitter
    color: #1DA1F2
  .fa-reddit
    color: #FF5700
