.home
  //margin-bottom: calc(144px + 2em)
.landing
  display: flex
  flex-direction: row
  flex-wrap: wrap
  height: 100%
  // margin-top: 80px
  z-index: 2
  background: white
  align-items: flex-start
  align-content: stretch
  justify-content: center


.home_picture
  background-image: url(/assets/images/home_face1.jpg)
  height: 100vh
  // width: 50vw
  // min-width: 450px
  background-size: cover
  background-position: center
  padding: 3%
  flex-grow: 1
  order: 1
  flex-basis: 450px
  display: flex
  flex-direction: column
  justify-content: space-between

  .logo
    padding-top: 7vh
    max-height: 300px
    flex-basis: 300px
    align-self: stretch
    display: flex
    justify-content: center

    svg
      height: 100%

  a
    // margin-top: 55vh
    align-self: center

.ticker
  font: 20px Lato, sans-serif
  letter-spacing: 0.16em
  font-weight: normal
  // transform: scale(1, 1.05)
  // -webkit-transform: scale(1, 1.05) /* Safari and Chrome */
  // -moz-transform: scale(1, 1.05) /* Firefox */
  // -ms-transform: scale(1, 1.05) /* IE 9+ */
  // -o-transform: scale(1, 1.05) /* Opera */
  padding-top: 1%
  color: purple
// .home_picture a
//   margin-top: 55vh
.goDown
  border: solid white
  border-width: 0 5px 5px 0
  display: none
  top: 300px
  padding: 20px
  border-radius: 10%
  transform: rotate(45deg)
  -webkit-transform: rotate(45deg)
  // margin-top: 55vh
  opacity: 80%
  // box-shadow: 7px 7px 8px 1px white
.goDown:hover
  opacity: 100%

.mobileLanding
  display: inline-block

.about
  min-height: 100vh
  padding: 5em 3% 3% 3%
  flex-grow: 1
  order: 2
  flex-basis: 450px
  background-color: white
  display: flex
  justify-content: center

.about-content
  display: flex
  flex-direction: column
  align-content: flex-start
  justify-content: center

  // background: white
  // min-height: 100vh
  // padding: 3%
  // flex-grow: 1
  // order: 2
  // flex-basis: 450px
  // background-color: white
  // display: flex
  // flex-direction: column
  // align-content: center



.social
  justify-self: flex-end
  width: 100%
  display: flex
  justify-content: space-around
  align-self: flex-end
  padding: 15% 15% 0 15%

.social-icon
  text-decoration: none
  @extend %fa-icon
  @extend .fab
  @extend .far

.fa-envelope
  color: purple
.fa-envelope:hover
  transform: scale(1.2)

.fa-linkedin
  color: purple
.fa-linkedin:hover
  transform: scale(1.2)

.fa-github
  color: purple
.fa-github:hover
  transform: scale(1.2)

.fa-instagram
  color: purple
.fa-instagram:hover
  transform: scale(1.2)

.fa-stack-exchange
  color: purple
.fa-stack-exchange:hover
  transform: scale(1.2)
