.o_content
  grid-area: content
  justify-self: center
  margin-top: -30px

.o_landing
  // background: pink
  height: 100vh
  background-size: contain
  padding: 5%
.o_landing::after
  content: ""
  transform: skewY(-11deg)

  .logo
    svg
      height: auto
      width: 300px

.o_contact
  background: yellow
  height: 100vh

.o_impossible
  background: green
  height: 100vh

.o_blog
  grid-area: content

  background: lime
  height: 100vh

.o_podcast
  background: red
  height: 100vh

.o_projects
  background: honeydew
  height: 100vh
.o_projects::before
  position: absolute
  transform: skewY(-11deg)
