.wrapper.privacy
  // display: flex
  // justify-content: center

  display: grid
  // grid-template-columns: 1fr
  grid-template-rows: minmax(80px, auto) repeat(2, auto)
  grid-template-areas: "feat feat feat" "sl post sr" "up up up"
  grid-template-columns: minmax(15px, auto) minmax(10px, 850px) minmax(15px, auto)

  h1,
  h2,
  h3,
  h4,
  a,
  p,
  br,
  ol,
  ul,
  li,
  code,
  span,
  div[class^="language"], div[class*=" language"],
  div[class*="highlight"],
  div.article-list,
  div.social-share
    grid-area: post
  .sidebar.left
    grid-area: sl
  .sidebar.right
    grid-area: sr
  .sidebar
    grid-row: 1 / -1
    width: auto

.privacy.content
  grid-area: post
  // display: grid
  //
  // grid-template-rows: auto



  margin: 80px 30px 20px 30px
  // flex-basis: 671px
  // flex-shrink: 1
  // flex-grow: 1
  // max-width: 850px

  h1
    text-align: center
    //font: $h1_blog

  h2
    font: $h2_blog
    font-weight: bold

  a
    font: $font_blog
    max-width: 100%
  p
    font: $font_blog
    max-width: 100%
    line-height: 1.5
    // font-weight: 400
    padding-bottom: 1em
  p.short
    font-style: italic
  p.last-updated
    padding-bottom: 2.5em

  span.bold
    font-weight: bold

  br
    display: block
    content: ""
    margin-top: 0.5em
  div
    padding-bottom: 1em

  ul
    span
      margin-left: -1.6em
.last-updated
  color: #444
