
// Blog Syles
$h1_blog: 30px Merriweather, serif
$h2_blog: 20px Merriweather, serif
$font_blog: 20px Lato, sans-serif
$font_code: 18px Cutive Mono, monospace
// Adventure
$nav_col_adventure: #aaa
$nav_col_tech: #ccc
