---
layout: default
class: blog
---
<div class="wrapper bloghome">
  <div class="sidebar left"></div>
  <div class="blog_home {{ page.css_id }}">
    <h1>{{ page.blog_name }}</h1>
    <!-- <h2 class="author">Author: {{ page.author_name }}</h2> -->

    {{ content }}

    <h2>Posts</h2>
    <ul>
      {% assign filtered_posts = site.posts | where: 'blogtype', page.b_type %}
      {% for post in filtered_posts %}
        <li>
          <span>{{ post.date | date_to_string }}</span> » <a class="special-link" href="{{ post.url }}">{{ post.title }}</a>
          <p>{{ post.excerpt }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="sidebar right"></div>
</div>
