<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		{% seo %}
	</head>
	<body>
		{% include navigation.html %}
		{{ content }}
		{% include footer.html %}
		<!-- {% include cookie-consent.html %} -->

		<!-- Scripts -->
		<script src="/assets/js/app.js"></script>
		<!-- <script src="/assets/js/feature_detection.js"></script>
		<script src="/assets/js/cookie-consent.js"></script> -->
		{% if page.class == "home" %}<script src="/assets/js/home_observer.js"></script>{% endif %}
		{% if page.class == "contact" %}<script src="/assets/js/copy.js"></script>{% endif %}
		{% if page.blogtype %}
			<script src="/assets/js/share.js"></script>
			<script src="/assets/js/blog_links.js"></script>
		{% endif %}
		{% if page.class == "blog_home" %}
			<script src="/assets/js/feature_detection.js"></script>
			<script src="/assets/js/clamp.js"></script>
			<script src="/assets/js/article-cards.js"></script>
		{% endif %}
		{% if page.blogtype == "tech" %}
			<link rel="stylesheet" href="/assets/highlight/styles/an-old-hope.css">
			<script src="/assets/highlight/highlight.pack.js"></script>
			<script>
				document.addEventListener('DOMContentLoaded', (event) => {
					document.querySelectorAll('pre code').forEach((block) => {
						hljs.highlightBlock(block);
					});
				});
			</script>
		{% endif %}

	</body>
</html>
